.footer {
    padding: 60px 0;
    background-color: #2F303A;
    &-container {
        @include tab(767px) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 165px;
            row-gap: 60px;
        }
        @include desc(1199px) {
            justify-content: space-between;
            gap: 0;
        }
    }
    &-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        color: #2196F3;
        margin-bottom: 20px;
        display: block;
        text-align: center;
        @include desc(1199px) {
            text-align: left;
        }

    }
    &-logo-span {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        color: #FFFFFF; 
    }
    &-social-link {
        border-radius: 50%;
        background-color: #4d4d4e;
        color: #FFFFFF;
    }
    &-form {
        @include tab(767px) {
            margin: 0 auto;
        }
        @include desc(1199px) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
        }
    }
    &-form-title {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.41px;
        letter-spacing: 0.03em;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;      
        margin-bottom: 20px;  
        @include desc(1199px) {
            text-align: left;
        }
    }
    &-form-input {
        padding: 15px;
        width: 100%;
        height: 50px;
        background-color: #2F303A;
        border: 1px solid #FFFFFF4D;
        border-radius: 5px;
        margin-bottom: 20px;
        @include tab(767px) {
            width: 450px;
        }
        @include desc(1199px) {
            width: 358px;
            margin: 0;
        }
    }
    &-form-btn {
        width: 200px;
        height: 50px;
        background-color: #2196F3;
        border-radius: 5px;
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        display: block;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    &-form-icon {
        fill: currentColor;
    }
}
