.hero {
    background-color: #2F303A;
    //background-image: url("../images/background\ hero.png");
    padding: 118px 0;
    @include desc(1199px) {
        padding: 200px 0;
    }
    &-title {
        text-align: center;
        max-width: 360px;
        margin: 0 auto;
        font-family: Roboto;
        font-size: 26px;
        font-weight: 900;
        line-height: 42px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 30px;

       @include desc(1199px) {
        font-size: 44px;
        max-width: 696px;
        line-height: 60px;
       }
    }
    &-btn {
        width: 200px;
        height: 50px;
        background-color: #2196F3;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        display: block;
        margin: 0 auto;
        @include desc(1199px) {
            width: 216px;
        }
    }
}

