.portfolio {
    padding: 94px 0;
    &-list {
        margin: 0 auto;
        margin-top: 34px;
        @include tab(767px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        @include desc(1199px) {
            justify-content: center;
        }
    }
    &-list-item {
        border: 1px solid #EEEEEE;
        @include tab(767px) {
            width: 354px;        
        }
        @include desc(1199px) {
            width: 370px;
        }

    }
    &-list-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 18px;
        padding-top: 20px;
        padding-left: 24px;
    }
    &-list-text {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        color: #757575;
        padding-top: 4px;
        padding-left: 24px;
        padding-bottom: 20px;
    }
    &-overlay {
        position: relative;
        overflow: hidden;
    }
    &-overlay-text {
        background-color: rgba(33, 150, 243, .9);
        height: 294px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #FFFFFF;
        padding: 63px 24px 0px 24px;
    }
    
}
.portfolio-list-item:hover .portfolio-overlay-text {
    max-width: 370px;
    transform: translateY(0);
}
.filter-list {
    flex-wrap: wrap;
    display: flex;
    row-gap: 15px;
    column-gap: 8px;

    @include tab(767px) {
        justify-content: center;
    }
    &-btn {
        height: 38px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        border-radius: 4px;
        padding: 6px 25px;
    }
    &-btn:hover {
        background-color: #2196F3;
        color: #FFFFFF; 
    }
}