.address {
    text-align: center;
    @include desc(1199px) {
        text-align: left;
    }
    &-container {
        margin-bottom: 60px;
    }
    &-list-link {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #b5b1b1;
    }
    &-list-item {
        margin-bottom: 9px;
    }
}
.location-link {
    color: #FFFFFF;
}
