.contact-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
    &-link {
        font-family: 'Roboto', sans-serif;
        color: #757575;
    }
    &-link:hover {
        color: #2196F3
    }
}